{% extends 'base.html' %}
{% block content %}
<title>Sessions | Electroholics | IIIT-Delhi</title>

<div class="content">
  <article >
<header style="background-image: url('/')">
<h1 class="title">Sessions</h1>
</header>
<section class="post-content"><ul>
<li><a href="#upcoming-sessions">Upcoming Sessions</a></li>
<li><a href="#tinkereves">TinkerEves</a></li>
<li><a href="#tinkernights">TinkerNights</a></li>
<li><a href="#tech-quizzes">Tech-Quizzes</a></li>
</ul>

<h2 id="upcoming-sessions">Upcoming Sessions</h2>

<p>Coming soon!</p>

<h2 id="tinkereves">TinkerEves</h2>

<table>
<tbody>
<tr>
  <td>TinkerEve[10]</td>
  <td><a href="2016/01/30/communication-protocols.html">Intro to Communication Protocols - 2</a></td>
</tr>
<tr>
  <td>TinkerEve[9]</td>
  <td><a href="https://github.com/Electroholics/Docs/blob/master/Session%20Slides%20and%20docs/Introduction%20To%20Quadcopters%2016th%20March%2C%202016.pdf">Intro to Quadcopters</a></td>
</tr>
<tr>
  <td>TinkerEve[8]</td>
  <td><a href="2016/01/30/communication-protocols.html">Intro to Communication Protocols</a></td>
</tr>
<tr>
  <td>TinkerEve[7]</td>
  <td><a href="https://github.com/Electroholics/Docs/blob/master/Session%20Slides%20and%20docs/Basics-of-RLC-circuits/Basics%20of%20R%2C%20L%2C%20C%20circuits.pdf">Basics of RLC Circuits</a></td>
</tr>
<tr>
  <td>TinkerEve[6]</td>
  <td>System-level PCB Designing</td>
</tr>
<tr>
  <td>TinkerEve[5]</td>
  <td><a href="https://github.com/Electroholics/Docs/blob/master/Slides/Introduction%20to%20FPGA.pdf">Intro to FPGAs</a></td>
</tr>
<tr>
  <td>TinkerEve[4]</td>
  <td>Discussion about Projects</td>
</tr>
<tr>
  <td>TinkerEve[3]</td>
  <td><a href="https://github.com/Electroholics/Docs/blob/master/Slides/Session-3%20%5B16-09-2015%5D.pdf">PCB Designing</a></td>
</tr>
<tr>
  <td>TinkerEve[2]</td>
  <td>3D Printing</td>
</tr>
<tr>
  <td>TinkerEve[1]</td>
  <td><a href="https://github.com/Electroholics/Docs/blob/master/Slides/Session-1%20%5B01-09-15%5D.pdf">Power Supply Design</a></td>
</tr>
<tr>
  <td>TinkerEve[0]</td>
  <td><a href="https://github.com/Electroholics/Docs/blob/master/Slides/Session-0%20%5BIntro%5D%5B25-08-2015%5D.pdf">Introduction</a></td>
</tr>
</tbody>
</table>

<h2 id="tinkernights">TinkerNights</h2>

<table>
<tbody>
<tr>
  <td>TinkerNight[2]</td>
  <td><a href="https://github.com/Electroholics/Docs/tree/master/Slides/Tinker%20NIght%20%5BIntro%20to%20Embedded%20Systems%5D">Basics of ADCs and Timers</a></td>
</tr>
<tr>
  <td>TinkerNight[1]</td>
  <td><a href="https://github.com/Electroholics/Docs/blob/master/Slides/Tinker%20NIght%20%5BIntro%20to%20Embedded%20Systems%5D/Intro%20to%20ES%20and%20GPIO.pdf">Basics of Embedded Programming</a></td>
</tr>
</tbody>
</table>

<h2 id="tech-quizzes">Tech-Quizzes</h2>

<table>
<tbody>
<tr>
  <td>TechQuiz[1]</td>
  <td><a href="https://github.com/Electroholics/Docs/blob/master/Slides/Tech-Quiz%20%20%5B27-10-15%5D.pdf">Signal Processing, Analog Electronics, Embedded Systems, Robotics</a></td>
</tr>
</tbody>
</table>
</section>
</article>

</div>
{% endblock content %}
