{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Inventory</title>
</head>
<body>
  <style>
    #table{
      position: relative;
      left: 100px;
      top: 90px;
    }
    h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-block-start: .83em;
  margin-block-end: .83em;
}
  </style>
  <div id = "table">
    <h2>Item   - Count</h2>
    {% for obj in object_list %}
    <li>{{ obj.item  }}  -
      {{ obj.count }}
    </li>
    {% endfor %}
  </div>
</body>
</html>
{% endblock content %}
